@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary bg-body;
  }
  p {
    @apply text-secendary;
  }
  h1 {
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px]
  }
  h2 {
    @apply text-4xl mb-6 font-bold
  }
  h3 {
    @apply text-xl mb-4 font-semibold
  }
  .description {
    @apply text-base xl:text-xl xl:leading-8
  }
  .section {
    @apply w-full h-screen pt-[60px] xl:pt-[120px]
  }
  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300
  }
  .btn-sm {
    @apply h-14
  }
  .btn-lg {
    @apply h-16
  }
  .btn-cta {
    @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300
  }
  .btn-primary {
    @apply bg-primary
  }
  .btn-secondary {
    @apply bg-secendary
  }
  .btn-accent {
    @apply bg-accent hover:bg-accent-hover
  }
  .active {
    @apply text-accent
  }
}

@layer utilities {
  .rmdp-container .ep-arrow.custom-arrow::after {
    background-color: #ed1d24;
  }
  .custom-input {
    border-radius: 15px;
    border: 1px #ed1d24 solid;
    padding: 4px 12px;
    background-color: white;
    height: 32px;
    box-shadow: 0 0 2px #e14045;
  }
  
  .custom-input:focus {
    outline: none;
    border: 1px solid #c9080e;
    box-shadow: 0 0 10px 2px #b3272c;
  }
}
